@import "../styles/variables.scss";

html {
  background-color: white !important;
}

body {
  color: $near-black !important;
}

h3 {
  margin-bottom: 1em !important;
}

.big-title {
  font-size: 4rem;
}

.big-subtitle {
  font-size: 3rem;
}

.big-text {
  font-size: 1.5rem;
}

.nice-list {
  list-style: none;
  padding: 0;
}

.nice-list li {
  margin-bottom: 1em;
}

.pt-10 {
  padding-top: 10rem;
}

.pt-15 {
  padding-top: 15rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mb-7 {
  margin-bottom: 7rem;
}
