html {
  background-color: white !important;
}

h3 {
  margin-bottom: 1em !important;
}

.big-title {
  font-size: 4rem;
}

.big-text {
  font-size: 1.5rem;
}

.nice-list {
  list-style: none;
  padding: 0;
}

.nice-list li {
  margin-bottom: 1em;
}
