// colors

$red: red;
$slightly-dark-red: rgb(209, 0, 0);
$dark-red: rgb(148, 0, 0);
$brown: rgb(95, 0, 0);
$dark-brown: rgb(37, 0, 0);
$white: white;
$very-light-gray: rgb(196, 196, 196);
$light-gray: rgb(136, 136, 136);
$gray: rgb(70, 70, 70);
$near-black: rgb(33, 37, 41);
$black: black;
$black-transparant: rgba(0, 0, 0, 0.2);
$white-transparant: rgba(255, 255, 255, 0.7);
