// colors

$red: red;
$dark-red: rgb(148, 0, 0);
$near-black: rgb(33, 37, 41);
$very-light-gray: rgb(196, 196, 196);
$light-gray: rgb(136, 136, 136);
$black-transparant: rgba(0, 0, 0, 0.2);
$white-transparant: rgba(255, 255, 255, 0.7);
