@import "../styles/variables.scss";

.landing-screen-banner {
  height: 100vh !important;
}

.landing-screen-column {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.scroll-down {
  position: absolute;
  bottom: 0;
  color: $white-transparant;
  text-align: center;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.scroll-down p {
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.15em;
}

.carousel {
  padding: 5rem 0;
}

.contact-section {
  padding: 10rem 0 5rem;
  background-image: linear-gradient($red, $dark-red);
  clip-path: polygon(
    0 20%,
    100% 0,
    100% 101%,
    0 101%
  ); /* left top, right top, right bottom, left bottom */
  color: white;
}

.icon {
  margin-right: 1em;
}
